In [1]:
import pandas as pd
# Importing pandas

df = pd.read_csv('customer_shopping_behavior.csv')
# Loading our csv file to python

In [2]:
df.head()
# Gives us the top 5 rows, and we can understand the data by looking at it.

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [3]:
df.info
# Get's us the overall information of the dataset, in which we can see what is present in the dataset can be understood by using df.info.

<bound method DataFrame.info of       Customer ID  Age  Gender Item Purchased     Category  \
0               1   55    Male         Blouse     Clothing
1               2   19    Male        Sweater     Clothing
2               3   50    Male          Jeans     Clothing
3               4   21    Male        Sandals     Footwear
4               5   45    Male         Blouse     Clothing
...           ...  ...     ...            ...          ...
3895         3896   40  Female         Hoodie     Clothing
3896         3897   52  Female       Backpack  Accessories
3897         3898   46  Female           Belt  Accessories
3898         3899   44  Female          Shoes     Footwear
3899         3900   52  Female        Handbag  Accessories

      Purchase Amount (USD)       Location Size      Color  Season  \
0                        53       Kentucky    L       Gray  Winter
1                        64          Maine    L     Maroon  Winter
2                        73  Massachusetts    S     Maroon  Spring
3                        90   Rhode Island    M     Maroon  Spring
4                        49         Oregon    M  Turquoise  Spring
...                     ...            ...  ...        ...     ...
3895                     28       Virginia    L  Turquoise  Summer
3896                     49           Iowa    L      White  Spring
3897                     33     New Jersey    L      Green  Spring
3898                     77      Minnesota    S      Brown  Summer
3899                     81     California    M      Beige  Spring

      Review Rating Subscription Status   Shipping Type Discount Applied  \
0               3.1                 Yes         Express              Yes
1               3.1                 Yes         Express              Yes
2               3.1                 Yes   Free Shipping              Yes
3               3.5                 Yes    Next Day Air              Yes
4               2.7                 Yes   Free Shipping              Yes
...             ...                 ...             ...              ...
3895            4.2                  No  2-Day Shipping               No
3896            4.5                  No    Store Pickup               No
3897            2.9                  No        Standard               No
3898            3.8                  No         Express               No
3899            3.1                  No    Store Pickup               No

     Promo Code Used  Previous Purchases Payment Method Frequency of Purchases
0                Yes                  14          Venmo            Fortnightly
1                Yes                   2           Cash            Fortnightly
2                Yes                  23    Credit Card                 Weekly
3                Yes                  49         PayPal                 Weekly
4                Yes                  31         PayPal               Annually
...              ...                 ...            ...                    ...
3895              No                  32          Venmo                 Weekly
3896              No                  41  Bank Transfer              Bi-Weekly
3897              No                  24          Venmo              Quarterly
3898              No                  24          Venmo                 Weekly
3899              No                  33          Venmo              Quarterly

[3900 rows x 18 columns]>

In [4]:
df.describe()
# We get summary statistics over here.
# Note that: We only get summary statistics of the numerical column.

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [5]:
# To get the summary of categorical columns to, we need to mention that within df.describe().
df.describe(include = 'all')

# Below we can see that we have got the summarical content from both categorical columns and numerical columns as well.

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [6]:
# We need to check for missing values, to do that we will be using df.isnull()
# df.isnull()
# df.isnull(): Shows us all the rows, if there is no missing value, it shows us 'FALSE' else 'TRUE"
# To save time, we will be using '.sum()' continued.

df.isnull().sum()
# Above, throws us the sum of null values present in that particular columns.
# Here, we can see our 'Review Rating' column has got 37 null values.

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [7]:
# What do we do with the null values.
# We need to replace the missing values, but using mean or median. 
# But we are supposed to use median, because mean will be affected with outliers and that would skew our distribution of our data.
# Choosing median because this is robust to outliers.

df['Category'].unique() # This line tells us different categories present within the Categories colummn.

# But while replacing the missing values in the review category it is important to understand that the reviews for different categories will be different.
# Hence, we need to take the median for 'Clothing' category different from other categories and the same process should be followed for other categories.

array(['Clothing', 'Footwear', 'Outerwear', 'Accessories'], dtype=object)

In [8]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x:x.fillna(x.median()))

# In the above line written, what we are doing is, we are using '.groupby()' method to identify different categories present in that particular column.
# With different categories present in the datasets, by using '.groupby()' method we are able to work with individual columns at the same time.

# Explanation:
# We are selecting the Review Category, by grouping the categories present in the Category columnn, so that the review median will be accurate for the each categories seperately.
# Next we are filling the medians for the missing values by using the lambda function, where we are actually searching for the "NaN" present in column asked earlier, (i.e,. Review Category) and fill the median values only for the similar category products

In [9]:
df.isnull().sum()

# After the above line of code is performed we can see that there are no missing values, as we have filled them up with median values for the corresponding categories.

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [10]:
# Now we are checking the column names and since they are present in Sentence Case, so it's better if we present them in Snake Case
# Customer ID: Sentence Case -> customer_id: Snake Case
# By doing the above process, we actually don't have to worry about the column name's casing, and also
# this process increases readability of the code, and it's easier for us to use this in both Python and SQL

df.columns = df.columns.str.lower()
# We are converting the column names into lower case first
df.columns = df.columns.str.replace(' ', '_')
# Now we are replacing the white space present between the column names with underscore.
# This way we are getting the snake_case.

In [11]:
df.columns
# We can see that our column names are in snake casing

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [12]:
# In the above column names, let say we need to change our column name 'purchase_amount_(usd)' into 'purchase_amount'
# We are using df.rename to do that.
df = df.rename(columns = {'purchase_amount_(usd)': 'purchase_amount'})

# here through the rename function we are selecting the column first and then the particular column is selected and then later we are introducing our own column name.

In [13]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [14]:
# We are now creating a new column, where we are dividing the age group into 4 groups.

labels = ['Young Adult', 'Adult', 'Middle Age', 'Senior']
df['age_group'] = pd.qcut(df['age'], q = 4, labels = labels)

# In the above line of code, we are actually we are creating a new column called 'age_group'
# Second: By using 'pd.qcut' we are diving the content present in the column: 'age' into 4 equal parts.
# pd.qcut is used when there is normal distributiong of sequence present in the column, this way we can generate a range,and place the column contents there.
# The four divided parts are present in the labels list; based on the labels given by the user.

In [15]:
df[['age', 'age_group']].head(10)

# We can see two columns, with the labels we created in the previous block.
# We created this new column, so that it would be easy for us to group the customers based from there age, and we can analyse the customer and improve our marketing ability.
# Also, it is important to understand how do we print the content present in the column required by the user.

   age    age_group
0   55   Middle Age
1   19  Young Adult
2   50   Middle Age
3   21  Young Adult
4   45   Middle Age
5   46   Middle Age
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57   Middle Age

In [16]:
# We are now creating a new entity called 'purchase_frequency_days'
# We already have a column called 'Frequency_of_Purchases', and this column tells us how often the customer shoop. But the content present in this column is in Text Format.
# While performing analyses, any data present in the text format makes our analysis a bit difficult. Becuase we will be doing metric calculations and many more.
# We are converting the text data present in the existing column into numerical data and store them in a column called 'purchase_frequency_days', and this will make our analysis much more easier.

frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90
}
# Above we have created a dictionary called 'frequency_of_mapping', that will be used to map textual content present in the existing column to the numerical data present in the dictionary.

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)
# we are creating a new column: 'purchase_frequency_days'.
#'map', is a function, to replace the text data present in the existing column to corresponding numerical data, in the newly created column.

In [17]:
df[['frequency_of_purchases','purchase_frequency_days']].head(10)

  frequency_of_purchases  purchase_frequency_days
0            Fortnightly                       14
1            Fortnightly                       14
2                 Weekly                        7
3                 Weekly                        7
4               Annually                      365
5                 Weekly                        7
6              Quarterly                       90
7                 Weekly                        7
8               Annually                      365
9              Quarterly                       90

In [18]:
df[['discount_applied', 'promo_code_used']].head(10)

# In the above process we are checking, whether the discout is applied to the purchase by using the promo codes or not.
# Reason behind this is that, there might be annual sales or premium user who will be receiving certain amount of discount compared to other users.
# One more reason why we are checking the above column is to check whether these two columns are redundant or not.

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [19]:
(df['discount_applied'] == df['promo_code_used']).all()

# The above lines of code tells us that whether the data present in both the columns is same or not.
# If the data present in both the columns the same, then we will be removing one of the column.
# We are removing 'promo_code_used'.

np.True_

In [20]:
df = df.drop('promo_code_used', axis = 1)
# We are using drop method to drop the whole column along with the data present under the column.
# 'axis = 1' means along the columns and if axis = 0 then that means it's row wise.
# We also need to mention the axis along which we need to drop the column.

In [21]:
# To check whether we have successfully dropped the column.
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [22]:
# Till this point we have done our DATA EXPLORATION, and intial steps of DATA ANALYSIS.

In [23]:
# We will move this dataset into postgreSQL, so that we can run SQL queries and do deeper Data Analysis and answer Business Questions.

In [24]:
# We have created a database in Postgre SQL. Named as 'customer_behavior'
# Now we are going to connect our Jupyter notebook with Postgre SQL

In [25]:
pip install psycopg2-binary sqlalchemy

Requirement already satisfied: psycopg2-binary in c:\users\mohit_tuf\anaconda3\lib\site-packages (2.9.11)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: sqlalchemy in c:\users\mohit_tuf\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mohit_tuf\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mohit_tuf\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)

In [26]:
# Step 1: Connecting our Jupyter Notebook to Postgre SQL

from sqlalchemy import create_engine # We are importing 'create_engine' from sqlalchemy package

username = 'postgres'
password = 'Motherfucker_69'
host = 'localhost'
port = '5432'
database = 'customer_behavior' # This is database we have created in Postgre SQL
# Above mentionings are entirely from our SQL directory


engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")
# f'...' this creates a formatted string literal, dynamically inserting the values from the variables into the connection URL format.
# create_engine(): This function takes the completed URL string and returns an Engine object.
# This engine object is what you will use later to interact with the database (e.g., run SQL queries, manage tables).

In [27]:
# Step 2: Load Dataframe into PostgreSQL
table_name = 'customer'
df.to_sql(table_name, engine, if_exists = 'replace', index = False)

print(f" Data successfully loaded into table '(table_name)' in database '{database}'.")

 Data successfully loaded into table '(table_name)' in database 'customer_behavior'.